@model List<DoAn_LTW.Models.SanPham>

<div class="row">
    <!-- Sidebar: Lọc theo thương hiệu -->
    <div class="col-md-3">
        <div class="list-group">
            <h4>Thương hiệu</h4>
            @foreach (var thuongHieu in ViewBag.ThuongHieus)
            {
                <a href="@Url.Action("SanPhamTheoLoai", "PhanLoaiSanPham", new { loaiSanPham = ViewBag.LoaiSanPham, thuongHieu = thuongHieu.MaThuongHieu })" class="list-group-item">
                    @thuongHieu.TenThuongHieu
                </a>
            }
        </div>
    </div>

    <!-- Hiển thị sản phẩm -->
    <div class="col-md-9">
        <div class="row">
            @foreach (var sp in Model)
            {
                <div class="col-md-4">
                    <div class="card">
                        <img src="@sp.HinhAnh" alt="@sp.TenSanPham" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">@sp.TenSanPham</h5>
                            @*<p class="card-text">@sp.GiaBan.ToString("C0")</p>*@
                            <a href="@Url.Action("XemChiTiet", "DienThoai", new { msp = sp.MaSanPham })" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
