
@model List<DoAn_LTW.Models.SanPham>

<h2>Sản Phẩm </h2>
<div class="row">
    @{
        foreach (var item in Model)
        {
            <div class="col-4">
                <img src="@Url.Content("~/HinhAnhSP/"+item.HinhAnh)" width="70%" height="70%" alt="Image" />
                @if (item.TenSanPham.Length > 30)
                {
                    <p>
                        <strong title="@item.TenSanPham">@item.TenSanPham.Substring(0, 30)...</strong> <br />
                        <a href="@Url.Action("XemChiTiet", "DienThoai", new { @ms = item.MaSanPham})">Xem chi tiết</a>
                    </p>
                }
                else
                {
                    <p>
                        <strong title="@item.TenSanPham">Tieu de: @item.TenSanPham</strong> <br />
                        <a href="@Url.Action("XemChiTiet", "DienThoai", new { @ms = item.MaSanPham})">Xem chi tiết</a>
                    </p>
                    <div class="clear"></div>
                }
            </div>
        }
    }
</div>
