@model List<DoAn_LTW.Models.SanPham>

@{
    ViewBag.Title = "Tất cả sản phẩm";
    //Layout = "~/Views/Share/_LayoutPage1.cshtml";
}

<h2 class="text-center mt-4">Tất cả sản phẩm</h2>

<div class="container mt-4">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    @*<img src="@Url.Content("~/HinhAnhSP/" + item.HinhAnh)" class="card-img-top" alt="Hình ảnh sản phẩm">*@
                    @*<img src="@Url.Content("~/images2/images/" + item.HinhAnh)" class="card-img-top" alt="Hình ảnh sản phẩm" />*@ 
                    @*<img src="~/images2/images/@item.HinhAnh" class="card-img-top" alt="Hình ảnh sản phẩm"/>*@
                    <img src="~/images2/images/@item.HinhAnh" class="card-img-top" alt="Hình ảnh sản phẩm" />
                    <div class="card-body text-center">
                        <h5 class="card-title">@item.TenSanPham</h5>
                        @*<p class="card-text">@item.Gia.ToString("N0") VNĐ</p>*@
                        <a href="@Url.Action("XemChiTiet", "DienThoai", new { @ms = item.MaSanPham })" class="btn btn-primary">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
