@model DoAn_LTW.Models.SanPham

@{
    ViewBag.Title = "Thêm mới sản phẩm";
    Layout = "~/Views/Share/LayoutAdmin.cshtml";
}

<h2 class="text-primary">Thêm mới sản phẩm</h2>

@using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="text-success">Thông tin sản phẩm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!-- Tên sản phẩm -->
        <div class="form-group">
            @Html.LabelFor(model => model.TenSanPham, "Tên sản phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSanPham, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("LoiTenSanPham", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Giá -->
        <div class="form-group">
            @Html.LabelFor(model => model.Gia, "Giá (VNĐ)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control", type = "number", min = 0 } })
                @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Thương hiệu -->
        <div class="form-group">
            @Html.LabelFor(model => model.MaThuongHieu, "Thương hiệu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaThuongHieu", (SelectList)ViewBag.ThuongHieuList, "Chọn thương hiệu", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaThuongHieu, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Mô tả -->
        <div class="form-group">
            @Html.LabelFor(model => model.MoTa, "Mô tả", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.MoTa, new { @class = "form-control", rows = 4 })
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Hình ảnh -->
        <div class="form-group">
            @Html.Label("Hình ảnh", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="uploadHinhAnh" class="form-control" />
                <span class="text-muted">Định dạng chấp nhận: .jpg, .png, .jpeg, .gif</span>
                @Html.ValidationMessage("LoiHinhAnh", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Số lượng tồn kho -->
        <div class="form-group">
            @Html.LabelFor(model => model.SoLuongTonKho, "Số lượng tồn kho", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuongTonKho, new { htmlAttributes = new { @class = "form-control", type = "number", min = 0 } })
                @Html.ValidationMessageFor(model => model.SoLuongTonKho, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Loại sản phẩm -->
        <div class="form-group">
            @Html.LabelFor(model => model.MaLoaiSanPham, "Loại sản phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaLoaiSanPham", (SelectList)ViewBag.LoaiSanPhamList, "Chọn loại sản phẩm", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaLoaiSanPham, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Nút xác nhận -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm sản phẩm" class="btn btn-primary" />
                @Html.ActionLink("Quay lại danh sách", "quanLySanPham", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
}
