@model IEnumerable<DoAn_LTW.Models.ACCOUNT>
@{
    ViewBag.Title = "QuanLyKhachHang";
    Layout = "~/Views/Share/LayoutAdmin.cshtml";
}

<style>
    /* Styling for the product management table */
    .table {
        margin-top: 20px;
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
    }

        .table th, .table td {
            text-align: left;
            padding: 10px;
        }

        .table thead th {
            background-color: #343a40;
            color: #ffffff;
        }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }

    .table-striped tbody tr:hover {
        background-color: #f1f1f1;
    }

    .img-thumbnail {
        display: block;
        margin: auto;
        width: 100px;
        height: 100px;
    }

    .text-right {
        margin-bottom: 10px;
    }

    .btn-sm {
        margin-right: 5px;
    }

    .text-center {
        text-align: center;
    }
</style>

<h2 class="text-center mt-4">Quản Lý khách hàng</h2>
@if (TempData["Message"] != null)
{
    <div class="alert alert-danger">
        @TempData["Message"]
    </div>
}

<table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>USERID</th>
            <th>USERNAME</th>
            <th>MẬT KHẨU</th>
            <th>EMAIL</th>
            <th>FULLNAME</th>
            <th>ĐỊA CHỈ</th>
            <th>SỐ ĐIỆN THOẠI</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.USERID</td>
                <td>@item.USERNAME</td>
                <td>@item.PASS</td>
                <td>@item.EMAIL</td>
                <td>@item.FULLNAME</td>
                <td>@item.DIACHI</td>
                <td>@item.SODIENTHOAI</td>
                <td>
                    <a href="@Url.Action("SuaKhachHang", "Admin", new { @userid = item.USERID }, null)" class="btn btn-primary">Sửa</a>
                </td>
            </tr>
        }
    </tbody>
</table>